* {
    background-image: url(./media/Wallpaper.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

.media img {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
}

.body {
    margin-top: 100px;
}

h1 {
    text-align: center;
}

h1, h2{
    color: rgb(3, 140, 219);
}

.aboutMe {
    color: rgb(149, 186, 255);
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

.introduction {
    font-size: larger;
}